body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f3f4f6;
}

header {
  background-color: #4e92c1;
  color: white;
  padding: 15px 0;
}

.anime-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.anime-item img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.anime-item h3 {
  color: #333;
}
